# Python / Environment
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.ipynb_checkpoints/

# Data Files (Tracked via DVC instead)
*.csv
!data/**/*.dvc

# MLflow / Local DBs
.feast/

# DVC local storage
.dvc/cache
.dvc/local
mlruns/
*.db
/mlruns
